@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  transition: all linear 0.25s;
  transition-property: background-color;
}

body{
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: 0.25vw;
  height: 0;
}
::-webkit-scrollbar-thumb{
  background-color: black;
}